html, .recipe-tag {
  font-family: museo, serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: dunbar-tall, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.tag {
  font-family: museo, serif;
  font-weight: 100;
  font-style: italic;
}

.bold {
  font-family: museo, serif;
  font-weight: 500;
  font-style: normal;
}

.hover-box {
  color: #000;
}

.hover-box-caption {
  bottom: -10em;
  background-color: rgba(255, 255, 255, .8);
  transition: all .25s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  transition: all .2s linear;
}

.hover-box:focus {
  z-index: 10;
}

ol li {
  line-height: 2.2;
}

header a, footer a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #fff;

}

header a:hover, footer a:hover {
  border-bottom: 1px solid #000;
  transition: all .6s linear;
}

footer {
  border-top: 1px solid #ddd;
}

@media only screen and (min-width: 25em) {

  .unit-offset-s-1-4 {
    margin-left: 25%;
  }

}

@media only screen and (min-width: 38em) {

  header nav ul li {
    display: inline-block;
    text-align: right;
  }

  header nav ul {
    text-align: right;
  }

  .right-nav {
    text-align: right;
  }

  .unit-offset-s-1-4 {
    margin-left: 0;
  }

  .logo-size {
    max-width: 12em;
  }

  /* .recipe-tag {
    max-width: 50%;
    transform: translateX(100%);
  } */

@media only screen and (min-width: 73em) {

  .extra-gutter {
    margin: 0 5em;
  }

}

@media only screen and (min-width: 90em) {

  .extra-gutter {
    margin: 0 10em;
  }

}
